.quarterCircleTopLeft{
    width:100px; 
    height:100px; 
    border:1px solid #000; 
    background: green;
    border-radius: 90px 0 40px 0;
    margin: 10px;
}

.quarterCircleTopLeft:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,128,0,0.82); 
    box-shadow: 0px 0px 15px 5px rgba(0,128,0,0.82);
}

/* .quarterCircleTopLeft:active {
    background: lightgreen;
} */

.quarterCircleTopRight{
    width:100px; 
    height:100px; 
    border:1px solid #000; 
    background: red;
    border-radius: 0 90px 0 40px;
    margin: 10px;
}

.quarterCircleTopRight:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,0,0,0.82); 
    box-shadow: 0px 0px 15px 5px rgba(255,0,0,0.82);
}

/* .quarterCircleTopRight:active {
    background: pink;
} */


.quarterCircleBottomLeft {
    width:100px; 
    height:100px; 
    border:1px solid #000; 
    background: yellow;
    border-radius: 40px 0 90px 0;
    margin: 10px;
}

.quarterCircleBottomLeft:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,255,0,0.82); 
    box-shadow: 0px 0px 15px 5px rgba(255,255,0,0.82);
}

/* .quarterCircleBottomLeft:active {
    background: lightyellow;
} */

.quarterCircleBottomRight{
    width:100px; 
    height:100px; 
    border:1px solid #000; 
    background: blue;
    border-radius: 0 40px 0 90px;
    margin: 10px;
}

.quarterCircleBottomRight:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,255,0.82); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,255,0.82);
}

/* .quarterCircleBottomRight:active {
    background: lightblue;
} */

.center {
    margin: auto;
    width: 50%;
}